/********** Base styles **********/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#nav-list li {
  padding: 5px 0;
}

#nav-list li:not(:last-of-type) {
  border-bottom: 1px solid #e7e7e7;
}

.tall-section {
  background-color: lightgrey;
  font-size: 1.5em;
}
#header-nav {
  background-color: #03fcb6;
  border-radius: 0;
  border: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.container .navbar-brand{
  font-size: 2em;
  color: #ffffff;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}